<html lang=""en>
    <head>

    </head>
    <body>
        <div class="container p-5 my-5 b-5">
            <h1>Index Page</h1>
            <h3>Create User</h3>
            <form action="/users" method="POST">
                <label for="name">Name:</label>
                <input type="text" name="name">
                <label for="email">Email</label>
                <input type="text" name="email">
                <input type="submit" value="create user">
            </form>
        </div>
    </body>
</html>